@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");

/* MEDIA QUERIES*/

@media (min-width: 250px) {
	.nav-item {
		font-size: 1.15rem;
	}
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
	.nav-item {
		font-size: 1.15rem;
		margin: 1rem;
	}
}

/* GENERAL */

body {
	font-family: "Raleway", sans-serif;
	margin: 0;
	border: 0;
	color: white;
	background-color: #5e60ce;
	background-color: rgba(105, 48, 195, 1);
	/* background-color: #6930c3; */
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 7rem;
}

.btn-reserve {
	background-color: orange;
}

/* HEADER SECTION */

.navbar {
	/* background-color: #5e60ce; */
	background-color: rgba(105, 48, 195, 1);
	/* background-color: rgba(105, 48, 195, 1); */
}

/* HERO SECTION */

#hero {
	text-align: center;
	padding: 3rem 0rem 80vh 0rem;
	background-size: cover;
	background-color: transparent;
	background-image: linear-gradient(
			rgba(105, 48, 195, 0.5),
			rgba(105, 48, 195, 1)
		),
		url("assets/2020-crowd.jpg");
}

.hero-text {
	padding-top: 10rem;
}

/* ABOUT SECTION */

#about {
	padding: 3rem 0rem 3rem 0rem;
}

/* SCHEDULE SECTION */

#schedule {
	padding: 3rem 0rem 3rem 0rem;
}

/* SPEAKERS SECTION */

#speakers {
	padding: 3rem 0rem 3rem 0rem;
}

/* SPONSORS SECTION */

#sponsors {
	padding: 3rem 0rem 3rem 0rem;
}

/* RESERVE SECTION */

#reserve {
	padding: 3rem 0rem 3rem 0rem;
}

/* FOOTER SECTION */

footer {
	padding: 3rem;
	margin-top: 3rem;
	text-align: center;
}
